@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #0e1117;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0b0d11;
}

::-webkit-scrollbar-thumb {
  background: #30343d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e50914;
}

.movie-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.movie-card:hover {
  transform: translateY(-8px) scale(1.015);
  box-shadow:
    0 20px 45px rgba(0, 0, 0, 0.55);
}

.poster {
  transition: transform 0.4s ease;
}

.movie-card:hover .poster {
  transform: scale(1.05);
}